*{
    margin: 0;
    padding: 0;
    font-family: 'MB';
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__nav{
    background: #282828;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 26px 0px;
}

.header__nav-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-top-right{
    display: flex;
    gap: 30px;
}

.header__nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header__nav-links{
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
}

.header__form{
    display: flex;
    gap: 25px;
}

.header__form-btn{
    border: none;
    background: #282828;
}

.header__content{
    background: url(../images/Content.jpg) no-repeat center /cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    row-gap: 38px;
}

.header__content-title{
    color: #FFF;
    font-size: 100px;
    font-weight: 400;
    line-height: 75px; 
}

.header__content-link-box{
    padding: 14px;
    border-radius: 10px;
    background: #FFF;
}

.header__content-link{
    color: #171718;
font-family: 'MM';
font-size: 20px;
font-weight: 500;
text-transform: uppercase;
padding: 0px 11px 0px 0px;
}

.main__top{
    background: #151515;
    padding-top: 30px;
    padding-bottom: 55px;
}

.main__top-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main__top-left{
    max-width: 538px;
    width: 100%;
    padding: 0px 30px 0px 0px;
}

.main__top-left-text{
    color: #FFF;
    font-family: 'MM';
    font-size: 22px;
    font-weight: 500;
}

.main__top-right{
    max-width: 552px;
    width: 100%;
}

.main__top-right2{
    max-width: 540px;
    width: 100%;
}

.main__top-left2{
    max-width: 457px;
    width: 100%;
}

.main__top-box2{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main__bottom{
    background: #151515;
    padding: 80px 0px;
}

.main__bottom-item{
    max-width: 255px;
    width: 100%;
    border-radius: 6px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding: 15px 0;
}

.main__bottom-item-title{
    color: #000;
    font-family:'MB';
    font-size: 20px;
    font-weight: 700;
}

.main__bottom-item-text{
    color: #000;
    font-family: 'MM';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.main__bottom-item-link{
    background: #151515;
    padding: 7px 57px;
    color: #FFF;
    font-family: 'MB';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.main__bottom-box{
    display: flex;
    justify-content: space-between;
}

.footer{
    background: #282828;
    box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.25);  
}

.footer__box{
    padding: 81px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__middle{
    background: #151515;
}

.main__middle-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.main__middle-left-text{
    color: #FFF;
    text-align: right;
    font-family: 'MB';
    font-size: 20px;
    font-weight: 700;
}

.main__middle-right{
    color: #FFF;
font-family: 'MB';
font-size: 20px;
font-weight: 700;
}

.main__middle-box-left,
.main__middle-box-right{
max-width: 333px;
width: 100%;
}

.main__middle-box-middle{
display: flex;
justify-content: center;
align-items: center;
gap: 14px;
}

.main__middle-box-middle::before{
    content: '';
    display: block;
    width: 61px;
    height: 1px;
    background: #C4C4C4;
}

.main__middle-box-middle::after{
    content: '';
    display: block;
    width: 61px;
    height: 1px;
    background: #C4C4C4;
}

@media(max-width:1140px) {
    .main__top-box,
    .main__top-box2,
    .main__middle-box,
    .main__bottom-box{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .main__bottom-item{
        height: 325px;
    }

    .main__bottom-box{
        gap: 30px;
    }

    
}

@media(max-width:625px) {
    .header__content-title{
        font-size: 70px;
    }
    .header__content-link-box{
        padding: 10px;
    }
    .header__content{
        height: 500px;
    }
}

@media(max-width:575px) {
    .main__top-right img,
    .main__top-left,
    .main__top-left2 img,
    .main__top-box2,
    .main__middle-box,
    .main__middle-box-middle{
        max-width: 500px;
        width: 100%;
    }
    
    .main__middle-box-photo{
        height: 300px;
    }
}

@media(max-width:520px) {
    .footer__box{
        flex-direction: column;
        gap: 30px;
        padding: 40px 0;
    }
    .header__nav-top{
        flex-direction: column;
        gap: 30px;
    }
    .header__nav-top-right{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:460px) {
    .header__content-title{
        font-size: 45px;
    }

    .header__content{
        height: 425px;
    }

    .header__content-link-box{
        padding: 5px;
    }

    .header__content-link{
        font-size: 18px;
    }

    .main__top-left-text{
        font-size: 17px;
    }

    .main__middle-left-text,
    .main__middle-right{
        font-size: 16px;
    }

    .main__middle-left-text,
    .main__middle-box-right,
    .main__top-left,
    .main__top-right2{
        text-align: center;
    }

}